In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

*Series-столбец*
*DataFrame-набор данных*

In [3]:
salaries=pd.Series(data=[400, 300, 200, 250], index=['Andri', 'Boob','Elena', 'Mary'])

In [4]:
salaries

Andri    400
Boob     300
Elena    200
Mary     250
dtype: int64

*Фукция type позволяет посмотреть сам объект*

In [5]:
type(salaries)

pandas.core.series.Series

In [6]:
salaries.Andri

400

In [7]:
salaries['Andri']

400

In [8]:
salaries['Boob']=np.NAN

In [9]:
salaries

Andri    400.0
Boob       NaN
Elena    200.0
Mary     250.0
dtype: float64

In [12]:
salaries.median(), salaries.mean()

(250.0, 283.3333333333333)

In [14]:
salaries.fillna(salaries.median(), inplace=True)

In [15]:
salaries

Andri    400.0
Boob     250.0
Elena    200.0
Mary     250.0
dtype: float64

*DataFrame*

*1-способ создание датафрейма*

In [17]:
df1=pd.DataFrame(data=np.random.randn(5,3), index=["s1",'s2','s3','s4','s5'],
                columns=['col1', 'col2', 'col3'])

In [18]:
df1

        col1      col2      col3
s1  1.358195  0.529257  0.324746
s2  0.307553 -1.207028  0.405654
s3  0.723174 -1.948520 -0.269479
s4  0.837130  0.876786  0.471794
s5  0.832476  0.352716  1.315889

*2-способ создания датафрейма*

In [27]:
df2=pd.DataFrame({'A':np.random.randon[5],
                 'B':['a','b','c','d','e'],
                 'C':np.arange[5]>2
                 })

AttributeError: module 'numpy.random' has no attribute 'randon'